<h2>New Link:</h2>

<form action="/links" method="post" accept-charset="utf-8">
  <p class="inputs">
    Article Title:<br> <input type="text" name="title"/><br>
    URL:<br> <input type="text" name="url"/><br>
     <label>Description:</label><br> <textarea class="description" type="text" name="description" ">{{ link.description }}</textarea><br>
  </p>
  <input class="inputs" type="submit" value="Submit"/>
</form>