<h2>Signup</h2>

{{#if message}}
  <div class="alert">{{message}}</div>
{{/if}}

<form method="post" action="/signup">
  <div class="forms">
    <label for="email">Email</label>
    <input class="forms" type="text" name="email" id="email">
  </div>

  <div class="forms">
    <label for="email">Password</label>
    <input class="forms" type="password" name="password" id="password">
  </div>
  
  <div class="center">
    <input class="btn" type="submit">
  </div>
</form>