body {
  background: #555555;
  font-family: Helvetica;
  color: white;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 70px;
  border-bottom: 1px solid white;
  width: 50%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 60px;
  margin-top: 30px;
}

h2 {
  text-align: center;
  font-size: 40px;
}

label {
  margin-top: 10px;
}

.description {
  width: 250px;
  height: 80px;
  text-align: top;
}

.post {
  text-align: center;
  width: 100%;
  display: block; 
  font-size: 25px;
  margin-top: -10px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.inputs {
  margin: 20px 0px 0px 60px;
  padding: 4px;
}

li {
  font-size: 20px;
  line-height: 40px;
}

.button {
  border: 1px solid white;
  background: transparent;
  padding: 4px 10px 4px 10px;
  border-radius: 4px;
  margin-left: 14px;
  font-size: 14px;

}

p {
  line-height: 40px;
  margin-left: 30px;
}