body {
  background: #555555;
  font-family: Helvetica;
  color: white;
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 70px;
  border-bottom: 1px solid white;
  width: 50%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 60px;
  margin-top: 30px;
}

h2 {
  text-align: center;
  font-size: 40px;
}

label {
  margin-top: 10px;
}

.description {
  width: 250px;
  height: 80px;
  text-align: top;
}

.post {
  text-align: center;
  width: 100%;
  display: block; 
  font-size: 25px;
  margin-top: -10px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.user {
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin: -40px 0 40px 0;
}
.user > a {
  margin-right: 30px;
  font-size: 18px;
  padding: 4px;
}
.user > a:hover {
  background: rgba(255, 255, 255, 0.3)
}

.inputs {
  margin: 20px 0px 0px 60px;
  padding: 4px;
}

li {
  font-size: 20px;
  line-height: 40px;
}

.button {
  border: 1px solid white;
  background: transparent;
  padding: 4px 10px 4px 10px;
  border-radius: 4px;
  margin-left: 14px;
  font-size: 14px;
  color: white
}

p {
  line-height: 40px;
  margin-left: 30px;
}

.alert {
  background: rgba(255, 0, 0, 0.4);
  border: 2px solid red;
  color: white;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  padding: 2px 0 2px 0;
  border-radius: 5px;
}

.forms {
  margin-top: 20px;
  text-align: center;
}

.center {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.btn {
  border: 1px solid white;
  background: transparent;
  padding: 4px 10px 4px 10px;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  width: 15%;
  margin-top: 20px;
}