body {
  background: #555555;
  font-family: Helvetica;
  color: white;
  width: 100%;
}

h1 {
  color :white;
  text-align: center;
  font-size: 60px;
}

h2 {
  text-align: center;
  font-size: 40px;
}



.post {
  text-align: center;
  width: 100%;
  display: block; 
}

a {
  text-decoration: none;
  color: white;
}

.inputs {
  margin-top: 20px;
}